<li>
  <div class="micropost">
    <%= render :partial => 'shared/micropost_content', :locals => {:micropost => micropost} %>
  </div>
  <%= render :partial => 'shared/micropost_deletion', :locals => {:micropost => micropost}%>
</li>
